{% extends "core/base.html" %}

{% block title %}Employee Dashboard{% endblock %}

{% block sidebar-items %}
    <li><a href="{% url 'my-leaves' %}"><span class="icon">📄</span><span class="text">Leave Requests</span></a></li>
{% endblock %}

{% block content %}
<h1>Welcome, {{ request.user.first_name }}!</h1>

<!-- Dashboard Summary -->
<div class="dashboard-summary">
    <div class="summary-card">
        <h3>Remaining Annual Leave</h3>
        <p>{{ remaining_leaves }}</p>
    </div>
    <div class="summary-card">
        <h3>Total Used Leave This Year</h3>
        <p>{{ total_used_leaves }}</p>
    </div>
    <div class="summary-card">
        <h3>Pending Leave Request</h3>
        {% if pending_leave_request %}
        <p>{{ pending_leave_request.leave_type }} ({{ pending_leave_request.start_date }} - {{ pending_leave_request.end_date }})</p>
        {% else %}
        <p>No pending requests</p>
        {% endif %}
    </div>
    <div class="summary-card">
        <h3>Total Late Minutes This Month</h3>
        <p>{{ total_late_minutes }}</p>
    </div>
</div>
{% endblock %}
